---
metaTitle: main title
metaDescription: main explaination one
permalink: false

locale:
name: index
pathTo: .
---

{{> header }}

  <div class="home">

  <section class="section content introduction">
   <div class="flexrow">
     <div class="flexrow-item introduction-text">
       <h1 class="title">{{__ 'main title'}}</h1>
       <h2 class="main-subtitle">{{__ 'main subtitle'}}</h1>
         <a class="button" href="https://hristo878256.typeform.com/to/blsP2I">
           {{__ 'main plans cta'}}
         </a>
     </div>
     <div class="flexrow-item introduction-picture">
       <img src="/images/studio.png" />
     </div>
   </div>
  </section>

  <section class="section content">
    <h2 class="subtitle tagline">
      {{__ 'main tagline'}}
    </h2>
    <p class="has-text-centered tagline-explaination">
      {{__ 'main explaination one'}}
    </p>

    <div style=" overflow: hidden; display:flex; flex-direction: column; justify-content: space-around;">
       <iframe  style="flex:1; overflow: hidden;" src="https://docs.google.com/spreadsheets/d/e/2PACX-1vQe2WPzDm9tUc1xErI29_3DbEpeUZ5mYZd9JBgvTpRHNKXJb2W_5GMYvm_u5wE6DVv5I8zQotd4ygPT/pubhtml?gid=0&amp;single=true&amp;widget=true&amp;headers=false"></iframe>
      <div style=" flex:5; display:flex;flex-direction: column;">
        <iframe  style="min-height:450px;" src="https://hidden-chamber-22309.herokuapp.com/"></iframe>
        <a target="_" style="margin:5px;"  class="button" href="https://hidden-chamber-22309.herokuapp.com/">
           Visit the live version
         </a>
        </div>
       
    </div>

  </section>

  <section class="section content landing-block">
    <div class="flexrow">
      <div class="flexrow-item landing-text">
        <h2 class="subtitle">
          {{__ 'main explaination title one'}}
        </h2>
        <p>
          {{__ 'main explaination text one'}}
        </p>
      </div>
      <div class="flexrow-item landing-picture">
       <img src="images\undraw_spreadsheets_xdjy.svg"/>
      </div>
    </div>
  </section>

  <section class="section content landing-block">
    <div class="flexrow reverse">
      <div class="flexrow-item landing-picture">
                <img src="images\undraw_dev_productivity_umsq.svg" />

      </div>
      <div class="flexrow-item landing-text">
        <h2 class="subtitle">
          {{__ 'main explaination title two'}}
        </h2>
        <p>
          {{__ 'main explaination text two'}}
        </p>
      </div>
    </div>
  </section>

  <section class="section content landing-block">
    <div class="flexrow">
      <div class="flexrow-item landing-text">
        <h2 class="subtitle">
          {{__ 'main explaination title three'}}
        </h2>
        <p>
          {{__ 'main explaination text three'}}
        </p>
      </div>
      <div class="flexrow-item landing-picture">
        <img src="images\undraw_fast_loading_0lbh.svg" />
      </div>
    </div>
  </section>

  <section class="section content landing-block">
    <div class="flexrow reverse">
      <div class="flexrow-item landing-picture">
        <img src="images\undraw_co-working_825n.svg" />
      </div>
      <div class="flexrow-item landing-text">
        <h2 class="subtitle">
          {{__ 'main explaination title four'}}
        </h2>
        <p>
          {{__ 'main explaination text four'}}
        </p>
      </div>
    </div>
  </section>

  <div class="mt2">
  &nbsp;
  </div>

  <section class="section content has-text-centered">
    <h2 class="subtitle">
      {{__ 'zou contact introduction'}}
    </h2>
    <p>
      <a class="button is-large" href="https://hristo878256.typeform.com/to/blsP2I">
        {{__ 'main plans cta' }}
      </a>
    </p>
  </section>
  </div>

  {{!-- <section class="section content conclusion conclusion-text">
    <h2 class="subtitle tagline">
      {{__ 'main conclusion tagline'}}
    </h2>
    <p class="has-text-centered tagline-explaination">
      {{__ 'main conclusion text'}}
    </p>
  </section> --}}

  <section 
    class="section content has-text-centered conclusion conclusion-picture"
  >
    <img src="/images/studio_collaboration.png" />
  </section>
{{> footer }}
