---
metaTitle: pricing title
metaDescription: pricing explaination one
permalink: false

name: pricing
locale:
pathTo: .
---

{{> header }}

<div class="pricing-page">
  <section class="section content pricing">
    <div class="section-subtitle has-text-centered">
      {{__ 'pricing tagline'}}
    </div>
    <h2 class="section-title has-text-centered">
      {{__ 'pricing subtitle'}}
    </h2>

    <p class="has-text-centered pricing-details">
      {{__ 'pricing discount details'}}
    </p>

    <div class="section-subtitle has-text-centered">
      {{__ 'pricing sucesspack title'}}
    </div>
    <h2 class="section-title has-text-centered">
      {{__ 'pricing sucesspack subtitle'}}
    </h2>

    <div class="pricings">
      <div class="pricing-block">
        <div class="pricing-title">
          {{__ 'pricing title bronze'}}
        </div>
        <div class="pricing-price">
          <span class="pricing-currency">€</span>
          <span class="pricing-value">1199</span>
        </div>
        <div class="pricing-features">
          <ul>
            <li>
              10h
            </li>
            <li>
              {{__ 'pricing features successpack one'}}
            </li>
            <li>
              {{__ 'pricing features successpack two'}}
            </li>
            <li>
              {{__ 'pricing features successpack three'}}
            </li>
            <li>
              {{__ 'pricing features successpack four'}}
            </li>
            <li>
              {{__ 'pricing features successpack five'}}
            </li>
          </ul>
        </div>
        <div class="pricing-cta">
          <a href="https://account.cg-wire.com/signup" class="button is-outlined">
            {{__ 'pricing button cta'}}
          </a>
        </div>
      </div>
      <div class="pricing-block pricing-emphasize">
        <div class="pricing-title">
          {{__ 'pricing title silver'}}
        </div>
        <div class="pricing-price">
          <span class="pricing-currency">€</span>
          <span class="pricing-value">2799</span>
        </div>
        <div class="pricing-features">
          <ul>
            <li>
              25h
            </li>
            <li>
              {{__ 'pricing features successpack one'}}
            </li>
            <li>
              {{__ 'pricing features successpack two'}}
            </li>
            <li>
              {{__ 'pricing features successpack three'}}
            </li>
            <li>
              {{__ 'pricing features successpack four'}}
            </li>
            <li>
              {{__ 'pricing features successpack five'}}
            </li>
            <li>
              {{__ 'pricing features successpack six'}}
            </li>
          </ul>
        </div>
        <div class="pricing-cta">
          <a href="https://account.cg-wire.com/signup" class="button is-outlined">
            {{__ 'pricing button cta'}}
          </a>
        </div>
      </div>
      <div class="pricing-block">
        <div class="pricing-title">
          {{__ 'pricing title gold'}}
        </div>
        <div class="pricing-price">
          <span class="pricing-currency">€</span>
          <span class="pricing-value">4999</span>
        </div>
        <div class="pricing-features">
          <ul>
            <li>
              50h
            </li>
            <li>
              {{__ 'pricing features successpack one'}}
            </li>
            <li>
              {{__ 'pricing features successpack two'}}
            </li>
            <li>
              {{__ 'pricing features successpack three'}}
            </li>
            <li>
              {{__ 'pricing features successpack four'}}
            </li>
            <li>
              {{__ 'pricing features successpack five'}}
            </li>
            <li>
              {{__ 'pricing features successpack six'}}
            </li>
          </ul>
        </div>
        <div class="pricing-cta">
          <a href="https://account.cg-wire.com/signup" class="button is-outlined">
            {{__ 'pricing button cta'}}
          </a>
        </div>
      </div>
    </div>

    <div class="extra-block alinea">
      <div class="section-subtitle has-text-centered">
        {{__ 'pricing support license title'}}
      </div>
      <p class="has-text-centered">
         {{__ 'pricing support license details'}}
      </p>
    </div>

    <div class="extra-block">
      <div class="section-subtitle has-text-centered">
        {{__ 'pricing school title'}}
      </div>
      <p class="has-text-centered">
        {{__ 'pricing school details'}}
      </p>
    </div>

    <div class="extra-block">
      <div class="section-subtitle has-text-centered">
        {{__ 'pricing opensource title'}}
      </div>
      <p class="has-text-centered">
        {{__ 'pricing opensource details'}}
      </p>
      <p class="has-text-centered">
        <a href="https://zou.cg-wire.com">
          {{__ 'pricing opensource install'}}
        </a>
      </p>
    </div>
  </section>

  <section 
    class="section content has-text-centered conclusion conclusion-picture"
  >
    <img src="/images/studio_collaboration.png" />
  </section>

  <script>
  function hideByClassName (className) {
    var els = document.getElementsByClassName(className)
    for (i = 0 ; i < els.length ; i++) {
      els[i].className += ' hidden'
    }
  }

  function showByClassName (className) {
    var els = document.getElementsByClassName(className)
    for (i = 0 ; i < els.length ; i++) {
      els[i].className = els[i].className.replace(' hidden', '')
    }
  }

  var monthlyButton = document.getElementById('monthly-button')
  var yearlyButton = document.getElementById('yearly-button')
  monthlyButton.addEventListener('click', function () {
    if (monthlyButton.className.indexOf('active') < 0) {
      hideByClassName('yearly')
      hideByClassName('pricing-price-info')
      showByClassName('monthly')
      monthlyButton.className += ' active'
      yearlyButton.className = yearlyButton.className.replace(' active', '')
    }
  })
  yearlyButton.addEventListener('click', function () {
    if (yearlyButton.className.indexOf('active') < 0) {
        hideByClassName('monthly')
        showByClassName('pricing-price-info')
        showByClassName('yearly')
        yearlyButton.className += ' active'
        monthlyButton.className = monthlyButton.className.replace(' active', '')
    }
  })
  </script>
</div>
{{> footer }}
